@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css');

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('/Carta/imgs/coracoes1.jpg');
    background-size: cover;
}

.painel{
    text-align: center;
    margin: 25vh auto;
    position: relative;
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 60px 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.painel h3{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px;
}

#sim{
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: -50px;
}
#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}